@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #header,
  #about,
  #testimonials,
  #registrations,
  #sponsor,
  #contact {
    width: 111%;
  }

  #pictures {
    width: 110%;
  }
}
